{% extends "base.html" %}
{% load static %}

{% block Htmlcenter %}
    <div class="container-fluid">
        <!-- Content -->
        <div id="content" class="colM">
            <h1>Añadir Clase</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                <div class="card mb-4 py-3 border-left-primary">
                    <div class="card-body">
                        {% for field in form %}
                            <div class="row">
                                <tr>
                                    <td>
                                        <inp for="{{ field.name }}">{{ field.label }}</inp>
                                        {{ field }}
                                    </td>
                                </tr>
                            </div>
                        {% endfor %}
                    </div>
                    <input class="button btn-danger" type="submit" value="Guardar">
                </div>
            </form>
            <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
    </div>
{% endblock %}