{% extends "base.html" %}
{% load static %}

{% block Htmlcenter %}
    <div class="container-fluid">
        <!-- Content -->
        <div id="content" class="colM">
            <h1>{{ object.title }}</h1>
            <p>{{ object.description }}</p>
            <p>{{ object.content|safe }}</p>
            <div class="row">
                {% if object.cap_pdf %}
                    <a href="{{ object.cap_pdf.url }}">
                        <i class="fa fa-file-pdf"> Capitulo de lectura
                        </i>
                    </a>
                {% endif %}
                <div class="w-100"></div>
                {% if object.example_csv %}
                    <a href="{{ object.example_csv.url }}">
                        <i class="fa fa-file">
                            Base de datos
                        </i>
                    </a>
                {% endif %}
                <div class="w-100"></div>
                {% if object.example_r %}

                    <a href="{{ object.example_r.url }}">
                        <i class="fa fa-file-export">
                            Script para R
                        </i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{{ form }}
{% endblock %}

