{% extends "base.html" %}
{% load static %}

{% block Htmlcenter %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        {% for group_for in request.user.groups.all %}
            {{ group_for.name }}
            {% if group_for.name == 'DOCENTE' %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-header py-3">
                            <a href="{% url 'createclasses' %}" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                <span class="text">Crear nuevo tema</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% elif group_for.name == 'Sellers' %}
                Text showed to users in group 'Sellers'
            {% endif %}
        {% endfor %}
        <div class="row">

            {% for article in object_list %}
                <div class="col-lg-6">
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ article.title }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="{{ article.imagen_course.url }}" style="height: 100px; width: 100px">

                                </div>
                                <div class="col-lg-4">
                                    {{ article.description }}
                                </div>
                            </div>
                        </div>
                        <a class="align-content-center" href="{% url 'classes-detail' article.pk %}">
                            <button class="btn-danger btn-block">Ver más</button>
                        </a>
                    </div>
                </div>
            {% empty %}
                <li>No articles yet.</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}