{% extends "base_acces.html" %}
{% load static %}

{% block moreHTML %}
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image-r"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenidos!</h1>
                                </div>
                                {#                                <form class="user">#}
                                {#                                    <div class="form-group">#}
                                {#                                        <input type="email" class="form-control form-control-user"#}
                                {#                                               id="exampleInputEmail" aria-describedby="emailHelp"#}
                                {#                                               placeholder="Enter Email Address...">#}
                                {#                                    </div>#}
                                {#                                    <div class="form-group">#}
                                {#                                        <input type="password" class="form-control form-control-user"#}
                                {#                                               id="exampleInputPassword" placeholder="Password">#}
                                {#                                    </div>#}
                                {#                                    <div class="form-group">#}
                                {#                                        <div class="custom-control custom-checkbox small">#}
                                {#                                            <input type="checkbox" class="custom-control-input" id="customCheck">#}
                                {#                                            <label class="custom-control-label" for="customCheck">Remember#}
                                {#                                                Me</label>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                    <a href="index.html" class="btn btn-primary btn-user btn-block">#}
                                {#                                        Login#}
                                {#                                    </a>#}
                                {#                                    <hr>#}
                                {#                                    <a href="index.html" class="btn btn-google btn-user btn-block">#}
                                {#                                        <i class="fab fa-google fa-fw"></i> Login with Google#}
                                {#                                    </a>#}
                                {#                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">#}
                                {#                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook#}
                                {#                                    </a>#}
                                {#                                </form>#}

                                <form class="form" method="POST">
                                    {% csrf_token %}
                                    {{ form.errors }}
                                    <div class="form-group mb-5">
                                        <input class="form-control h-auto form-control-solid py-4 px-8" type="text"
                                               placeholder="Usuario" name="username"/>
                                    </div>
                                    <div class="form-group mb-5">
                                        <input class="form-control h-auto form-control-solid py-4 px-8" type="password"
                                               placeholder="Contraseña" name="password"/>
                                    </div>
                                    <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                                        <div class="checkbox-inline">
                                            <label class="checkbox m-0 text-muted">
                                                <input type="checkbox" name="remember"/>
                                                <span></span>
                                                Recordarme
                                            </label>
                                        </div>
                                        {#                <a href="{% url 'auth:password_reset' %}" id="" class="text-muted text-hover-primary">¿Olvidó su#}
                                        {#                    contraseña?</a>#}
                                    </div>
                                    <button type="submit"
                                            class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Iniciar Sesión
                                    </button>
                                </form>
                                <hr>
                                {#                                <div class="text-center">#}
                                {#                                    <a class="small" href="forgot-password.html">Forgot Password?</a>#}
                                {#                                </div>#}
                                {#                                <div class="text-center">#}
                                {#                                    <a class="small" href="register.html">Create an Account!</a>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}